.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

#play-vite-audio {
  padding: 0;
  margin-left: 5px;
  display: inline-flex;
}

#play-vite-audio img {
  opacity: 0.8;
}

/* docs-cn specific */
.cn-footnote {
  margin-top: 20px;
}

.cn-footnote .title {
  display: block;
  margin-bottom: 10px;
}

.release-tag {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  margin-left: 6px;
  background: var(--c-brand);
  color: white;
  border-radius: 10px;
}
